@import 'arrow';

details.popover{
  $border-color: #ccc;
  $background-color: #fff;

  display: inline-block;
  position: relative;

  summary{
    outline: 0;
    cursor: pointer;
  }

  summary::-webkit-details-marker{
    display: none;
  }

  summary::marker{
    font-size: 0;
    color: transparent;
  }

  &[open]{
    > summary:before{
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 50;
      cursor: default;
    }
  }

  .popover-content{
    position: absolute;
    background-color: $background-color;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid $border-color;
    border-radius: 4px;
    z-index: 50;
  }

  &.popover-top-start, &.popover-top, &.popover-top-end{
    .popover-content{
      bottom: 100%;
    }
  }

  &.popover-top-start{
    .popover-content{
      right: 0;
    }
  }

  &.popover-top{
    .popover-content{
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.popover-top-end{
    .popover-content{
      left: 0;
    }
  }

  &.popover-bottom-start, &.popover-bottom, &.popover-bottom-end{
    .popover-content{
      top: 100%;
    }
  }

  &.popover-bottom-start{
    .popover-content{
      right: 0;
    }
  }

  &.popover-bottom{
    .popover-content{
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.popover-bottom-end{
    .popover-content{
      left: 0;
    }
  }

  &.popover-left-start, &.popover-left, &.popover-left-end{
    .popover-content{
      right: 100%;
    }
  }

  &.popover-left-start{
    .popover-content{
      top: 0;
    }
  }

  &.popover-left{
    .popover-content{
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.popover-left-end{
    .popover-content{
      bottom: 0;
    }
  }


  &.popover-right-start, &.popover-right, &.popover-right-end{
    .popover-content{
      left: 100%;
    }
  }

  &.popover-right-start{
    .popover-content{
      top: 0;
    }
  }

  &.popover-right{
    .popover-content{
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.popover-right-end{
    .popover-content{
      bottom: 0;
    }
  }

  &.popover-arrow[open]{

    &:before{
      content: '';
      position: absolute;
      z-index: 51;
    }

    &.popover-top-start, &.popover-top, &.popover-top-end,
    &.popover-bottom-start, &.popover-bottom, &.popover-bottom-end{
      &:before{
        width: 16px;
        height: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &.popover-top-start, &.popover-top, &.popover-top-end{
      &:before{
        background-image: arrow-down($background-color, $border-color);
        background-repeat: no-repeat;
        background-position: top;
        top: -1px;
      }
    }

    &.popover-bottom-start, &.popover-bottom, &.popover-bottom-end{
      &:before{
        background-image: arrow-up($background-color, $border-color);
        background-repeat: no-repeat;
        background-position: bottom;
        bottom: -1px;
      }
    }

    &.popover-left-start, &.popover-left, &.popover-left-end,
    &.popover-right-start, &.popover-right, &.popover-right-end{
      &:before{
        width: 10px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.popover-left-start, &.popover-left, &.popover-left-end{
      &:before{
        background-image: arrow-right($background-color, $border-color);
        background-repeat: no-repeat;
        background-position: left;
        left: -1px;
      }
    }

    &.popover-right-start, &.popover-right, &.popover-right-end{
      &:before{
        background-image: arrow-left($background-color, $border-color);
        background-repeat: no-repeat;
        background-position: right;
        right: -1px;
      }
    }

  }

  &.popover-dark{
    $background-color: rgba(0, 0, 0, 0.8);

    .popover-content{
      color: #fff;
      background-color: $background-color;
      border: none;
    }

    &.popover-arrow[open]{

      &.popover-top-start, &.popover-top, &.popover-top-end{
        &:before{
          background-image: arrow-down($background-color);
          top: 0px;
        }
      }

      &.popover-bottom-start, &.popover-bottom, &.popover-bottom-end{
        &:before{
          background-image: arrow-up($background-color);
          bottom: 0px;
        }
      }

      &.popover-left-start, &.popover-left, &.popover-left-end{
        &:before{
          background-image: arrow-right($background-color);
          left: 0px;
        }
      }

      &.popover-right-start, &.popover-right, &.popover-right-end{
        &:before{
          background-image: arrow-left($background-color);
          right: 0px;
        }
      }

    }

  }

}
