@import 'arrow';

.tooltip{
  $border-color: #ccc;
  $border-width: 1px;
  $background-color: #fff;

  position: relative;

  .tooltip-content{
    background-color: $background-color;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: $border-width solid $border-color;
    border-radius: 5px;
    width: max-content;
  }

  &.tooltip-top-start, &.tooltip-top, &.tooltip-top-end{
    .tooltip-content{
      bottom: 100%;
    }
  }

  &.tooltip-top-start{
    .tooltip-content{
      right: 0;
    }
  }

  &.tooltip-top{
    .tooltip-content{
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.tooltip-top-end{
    .tooltip-content{
      left: 0;
    }
  }

  &.tooltip-bottom-start, &.tooltip-bottom, &.tooltip-bottom-end{
    .tooltip-content{
      top: 100%;
    }
  }

  &.tooltip-bottom-start{
    .tooltip-content{
      right: 0;
    }
  }

  &.tooltip-bottom{
    .tooltip-content{
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.tooltip-bottom-end{
    .tooltip-content{
      left: 0;
    }
  }

  &.tooltip-left-start, &.tooltip-left, &.tooltip-left-end{
    .tooltip-content{
      right: 100%;
    }
  }

  &.tooltip-left-start{
    .tooltip-content{
      top: 0;
    }
  }

  &.tooltip-left{
    .tooltip-content{
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.tooltip-left-end{
    .tooltip-content{
      bottom: 0;
    }
  }

  &.tooltip-right-start, &.tooltip-right, &.tooltip-right-end{
    .tooltip-content{
      left: 100%;
    }
  }

  &.tooltip-right-start{
    .tooltip-content{
      top: 0;
    }
  }

  &.tooltip-right{
    .tooltip-content{
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.tooltip-right-end{
    .tooltip-content{
      bottom: 0;
    }
  }

  &:before, .tooltip-content{
    content: '';
    position: absolute;
    z-index: 50;
    opacity: 0;
    pointer-events: none;
  }

  &:hover{

    &:before, .tooltip-content{
      opacity: 1;
      pointer-events: auto;
    }

  }

  &.tooltip-top-start, &.tooltip-top, &.tooltip-top-end,
  &.tooltip-bottom-start, &.tooltip-bottom, &.tooltip-bottom-end{
    &:before{
      width: 100%;
      height: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.tooltip-top-start, &.tooltip-top, &.tooltip-top-end{
    &:before{
      background-repeat: no-repeat;
      background-position: top;
      top: -$border-width;
    }
  }

  &.tooltip-bottom-start, &.tooltip-bottom, &.tooltip-bottom-end{
    &:before{
      background-repeat: no-repeat;
      background-position: bottom;
      bottom: -$border-width;
    }
  }

  &.tooltip-left-start, &.tooltip-left, &.tooltip-left-end,
  &.tooltip-right-start, &.tooltip-right, &.tooltip-right-end{
    &:before{
      width: 10px;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.tooltip-left-start, &.tooltip-left, &.tooltip-left-end{
    &:before{
      background-repeat: no-repeat;
      background-position: left;
      left: -$border-width;
    }
  }

  &.tooltip-right-start, &.tooltip-right, &.tooltip-right-end{
    &:before{
      background-repeat: no-repeat;
      background-position: right;
      right: -$border-width;
    }
  }

  &.tooltip-arrow, &.tooltip-gap{

    &:before{
      position: absolute;
      z-index: 51;
    }

  }

  &.tooltip-arrow{

    &.tooltip-top-start, &.tooltip-top, &.tooltip-top-end{
      &:before{
        background-image: arrow-down($background-color, $border-color);
      }
    }

    &.tooltip-bottom-start, &.tooltip-bottom, &.tooltip-bottom-end{
      &:before{
        background-image: arrow-up($background-color, $border-color);
      }
    }

    &.tooltip-left-start, &.tooltip-left, &.tooltip-left-end{
      &:before{
        background-image: arrow-right($background-color, $border-color);
      }
    }

    &.tooltip-right-start, &.tooltip-right, &.tooltip-right-end{
      &:before{
        background-image: arrow-left($background-color, $border-color);
      }
    }

  }

  $gap: 7px;

  &.tooltip-gap{

    &.tooltip-top-start, &.tooltip-top, &.tooltip-top-end{
      .tooltip-content{
        bottom: calc(100% + #{$gap});
      }
    }

    &.tooltip-bottom-start, &.tooltip-bottom, &.tooltip-bottom-end{
      .tooltip-content{
        top: calc(100% + #{$gap});
      }
    }

    &.tooltip-left-start, &.tooltip-left, &.tooltip-left-end{
      .tooltip-content{
        right: calc(100% + #{$gap});
      }
    }

    &.tooltip-right-start, &.tooltip-right, &.tooltip-right-end{
      .tooltip-content{
        left: calc(100% + #{$gap});
      }
    }

    &.tooltip-top-start, &.tooltip-top, &.tooltip-top-end{
      &:before{
        top: -$border-width - $gap;
      }
    }

    &.tooltip-bottom-start, &.tooltip-bottom, &.tooltip-bottom-end{
      &:before{
        bottom: -$border-width - $gap;
      }
    }

    &.tooltip-left-start, &.tooltip-left, &.tooltip-left-end{
      &:before{
        left: -$border-width - $gap;
      }
    }

    &.tooltip-right-start, &.tooltip-right, &.tooltip-right-end{
      &:before{
        right: -$border-width - $gap;
      }
    }


  }

  &.tooltip-dark{
    $background-color: rgba(0, 0, 0, 0.8);

    .tooltip-content{
      color: #fff;
      background-color: $background-color;
      border: none;
    }

    &.tooltip-arrow{

      &.tooltip-top-start, &.tooltip-top, &.tooltip-top-end{
        &:before{
          background-image: arrow-down($background-color);
          top: 0px;
        }
      }

      &.tooltip-bottom-start, &.tooltip-bottom, &.tooltip-bottom-end{
        &:before{
          background-image: arrow-up($background-color);
          bottom: 0px;
        }
      }

      &.tooltip-left-start, &.tooltip-left, &.tooltip-left-end{
        &:before{
          background-image: arrow-right($background-color);
          left: 0px;
        }
      }

      &.tooltip-right-start, &.tooltip-right, &.tooltip-right-end{
        &:before{
          background-image: arrow-left($background-color);
          right: 0px;
        }
      }

      &.tooltip-gap{

        &.tooltip-top-start, &.tooltip-top, &.tooltip-top-end{
          &:before{
            top: -$gap;
          }
        }

        &.tooltip-bottom-start, &.tooltip-bottom, &.tooltip-bottom-end{
          &:before{
            bottom: -$gap;
          }
        }

        &.tooltip-left-start, &.tooltip-left, &.tooltip-left-end{
          &:before{
            left: -$gap;
          }
        }

        &.tooltip-right-start, &.tooltip-right, &.tooltip-right-end{
          &:before{
            right: -$gap;
          }
        }

      }

    }

  }

}

body:hover{
  .tooltip{
    &.tooltip-fade{
      &:before, .tooltip-content{
        transition: opacity 0.5s;
      }
    }

    &.tooltip-delay{
      &:before, .tooltip-content{
        transition-delay: 0.3s;
      }
    }
  }
}
